.main_carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly !important;
    flex-wrap: wrap;
}

.carousel_wrapper {
    margin: 20px;
}

.ch_container {
    background-color: white !important;
}

.carousel_heading {
    font-size: 20px;
    background-color: #010050;
}

.carousel_1 {
    flex-direction: column;
}

.carousel_2 {
    flex-direction: column;
}

.carousel-item {
    max-width: 30vw;
    max-height: 30vh;
}


@media screen and (max-width: 770px) {
    .carousel-item {
        max-width: 90vw;
        max-height: 23vh;
    }
}